MDP-ZSMPD/ZSMDPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mdp.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.mdp.etf.unibl.org" xmlns:intf="http://service.mdp.etf.unibl.org" xmlns:tns1="http://model.mdp.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.mdp.etf.unibl.org"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActiveUsers">
    <complexType/>
   </element>
   <element name="getActiveUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getActiveUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersForStation">
    <complexType>
     <sequence>
      <element name="stationId" type="xsd:string"/>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersForStationResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsersForStationReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="station" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getActiveUsersRequest">

      <wsdl:part element="impl:getActiveUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersForStationResponse">

      <wsdl:part element="impl:getUsersForStationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersForStationRequest">

      <wsdl:part element="impl:getUsersForStation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActiveUsersResponse">

      <wsdl:part element="impl:getActiveUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ZSMDPService">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUsers">

         <wsdl:input message="impl:getActiveUsersRequest" name="getActiveUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getActiveUsersResponse" name="getActiveUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersForStation">

         <wsdl:input message="impl:getUsersForStationRequest" name="getUsersForStationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersForStationResponse" name="getUsersForStationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ZSMDPServiceSoapBinding" type="impl:ZSMDPService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActiveUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActiveUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersForStation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersForStationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersForStationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ZSMDPServiceService">

      <wsdl:port binding="impl:ZSMDPServiceSoapBinding" name="ZSMDPService">

         <wsdlsoap:address location="http://localhost:8080/MDP-CZSMDP-SERVER/services/ZSMDPService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
